<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711341587483-baibqkuvt9i3kbamqi049hrkkdrcstke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711341587483-baibqkuvt9i3kbamqi049hrkkdrcstke</string>
	<key>API_KEY</key>
	<string>AIzaSyAIQn9DEhj1fiVZ1Y4_YKbe1IbDxRyr0co</string>
	<key>GCM_SENDER_ID</key>
	<string>711341587483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.polismartProject</string>
	<key>PROJECT_ID</key>
	<string>polismart</string>
	<key>STORAGE_BUCKET</key>
	<string>polismart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711341587483:ios:150bcf3a274b5db9a44cbe</string>
</dict>
</plist>